* {
  box-sizing: border-box;
}
  
body {
  font-family: "lato", sans-serif; 
  font-size: 18px;
  color: #212121;
  text-align: center;
  line-height: 1.5;
  margin: 0px;
}
  
nav,
footer {
  padding: 0% 8%;
  background-color: #3b3d44;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 15px 8%;
  text-align: left;
}

.nav-list {
  margin: 20px 0px;
  text-align: center;
  display: none;
}

#btn-nav-toggle {
  position: absolute;
  right: 8%;
  padding: 0px;
  margin: 0px;
  background: transparent;
  border: 0px solid transparent;
}

.navbar-toggle {
  background: transparent;
  border: 0px solid transparent;
}

.bar {
  width: 25px;
  margin: 5px;
  border-top: 3px solid #bedfe5;
  display: block;
  background-color: transparent;
}

.active {
  display: block;
}

.name {
  display: inline-block;
  text-align: left;
  font-family: "karla";
  color: #f4f4f4;
  /* color: #f2deda; */
}
  
header {
  padding: 10% 8%;
  margin-top: 59px;
  background: linear-gradient(rgba(244,244,244,.8), rgba(232,244,246, .8)), url("img/puppy-background.jpg");
  background-position: 80% 40%;
  background-size: cover;
  background-repeat: no-repeat;
}

.headshot {
  border-radius: 50%;
  width: 135px;
  height: 135px;
  border: 5px solid #254e70;
}
  
section {
  min-height: 200px;
  padding: 4% 0;
  background-color: #bbb;
}

ul {
  list-style-type: none;
  padding: 0px;
}

li {
  display: block;
  padding: 8px;
}

li:first-child {
  border-bottom: 2px solid white;
}

li:nth-child(2) {
  border-bottom: 2px solid white;
}

.nav-link  {
  color: #bedfe5;
  text-decoration: none;
  font-weight: bold;
}

.nav-link:hover {
  color: #cbeef4;
}

.proj-link {
  color: #6e396e;
}

.nav-link:hover {
  color: #954d75;
}

  color: #6e396e;
.about-content, .work-content, .contact-content {
  padding: 0px 8%;
  font-size: 16px;
}
  
 #about {
  /* background: linear-gradient(to bottom, #eeeeee, #E0F2F1); */
  background: linear-gradient(to bottom, #eeeeee, #d0cdd7);
  padding-top: 0px;
}

.about-content {
  text-align: left;
}

.about-content p:first-child {
  margin-top: 0px;
} 
  
h1 {
  font-size: 1.125em;
  font-family: "karla";
  margin-bottom: 50px;
}

.work-content {
    text-align: left;
}

.icon {
  width: 35px;
  display: inline-block;
  padding: 5px 15px;
  box-sizing: content-box;
  margin-top: 35px;
  cursor: pointer;
}

#projects {
  background-color: #f4f4f4;
  border-top: 5px solid #254e70;
}

#projects h2 {
  color: #212121;
}

.proj-desc {
  padding: 20px;
}

.proj-img {
  max-width: 600px;
  margin-bottom: 40px;
}

.proj-img img {
  width: 100%;
}

#contact {
  /* background: linear-gradient(to bottom, #d0cdd7, #eeeeee); */
  border-top: 5px solid #254e70;
  background: linear-gradient(rgba(232,244,246,.8), rgba(244,244,244,.8));
}

h3 {
  color: #212121;
}

.mail {
  color:  #254e70;
  font-size: 18px;
  font-weight: bold;
}

.mail:hover {
  color: #136884;
}


@media screen and (min-width: 768px) {

  h1 {
      font-size: 1.50em;
      max-width: 768px;
      text-align: left;
      /* margin-left: 50px; */
  }

  nav {
      display: flex;
      justify-content: space-between;
      padding: 0px 8%;
    }

  #btn-nav-toggle {
      display: none;
  }

  .nav-list {
      display: inline-block;
  }

  li {
    display: inline-block;
    padding: 6px 18px;
  }

  li:first-child, li:nth-child(2) {
    border-bottom: 0px solid transparent;
  }

  header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 82px;
  }

  .headshot {
    width: 175px;
    height: 175px;
  }

  .name {
    padding: 6px 0;
    margin: 20px 0;
    font-size: 20px;
  }

  .about-content, .work-content {
    font-size: 18px;
    margin: 0 auto;
  }

  .about-content {
    max-width: 860px;
  }   
}

  @media screen and (min-width: 992px) { 
    .work-content {
        display: flex;
        align-items: center;
        justify-content: center;
      }

    .proj-img {
      width: 55%;
      max-width: 600px;
      margin: 0;
    }

    .proj-desc {
        width: 45%;
    }
  }

  @media screen and (min-width: 1300px) {
    h1 {
        margin-left: 0px;
    }
    .about-content {
      max-width: 900px;
   } 
  }