* {
  box-sizing: border-box;
}
  
body {
  font-family: "lato", sans-serif; 
  font-size: 18px;
  color: #212121;
  text-align: center;
  line-height: 1.5;
  margin: 0px;
}
  
nav,
footer {
  padding: 0% 8%;
  background-color: #022b3a;
}

/***** TOP NAVIGATION *****/

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 15px 8%;
  text-align: left;
  box-shadow: 1px 2px 15px #3b3d44;
  transition: all .155s;
  transition-timing-function: cubic-bezier(0.42,0.57,0.58,0.18);
}

.nav-opacity {
  opacity: .95;
}

.nav-list {
  margin: 15px 0px;
  transition: all .159s;
  transition-timing-function: cubic-bezier(0.42,0.57,0.58,0.18);
  margin-top: -148px;
  opacity: 0;
}

.hamburger {
  cursor: pointer;
  position: absolute;
  right: 8%;
  padding: 0px;
  margin: -15px 0 0 0;
  background: transparent;
  width: 48px;
  height: 48px;
  border: 0px solid transparent;
  transition: all .159s;
  transition-timing-function: cubic-bezier(0.42,0.57,0.58,0.18);
}

.hamburger:focus {
  outline: none;
}

.hamburger:focus > span {
  background: #e07a5f;
}

.hamburger__top-bun,
.hamburger__meat,
.hamburger__bottom-bun {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  width: 20px;
  height: 2px;
  background: #faf3dd;
  /* transform: rotate(0); */
  transition: all 0.25s;
}

.hamburger:hover [class*="-bun"] {
  background: #e4ddc9;
}

.hamburger__top-bun {
  top: 26px;
  transform: translateY(-2px);
}

.hamburger__meat {
  top: 30px;
}

.hamburger__bottom-bun {
  bottom: 20px;
  transform: translateY(10px);
}

.meat-opacity {
  opacity: 0;
}

.open .hamburger__top-bun {
  transform: 
    rotate(45deg)
    translateY(0px);
}

.open .hamburger__bottom-bun {
  transform: 
    rotate(-45deg) 
    translateY(0px);
} 

.navbar-toggle {
  background: transparent;
  border: 0px solid transparent;
}

.navbar-toggle:hover {
  opacity: .65;
}

.nav-list__active {
  display: block;
  margin-top: 15px;
  opacity: 1;
}

.nav-link  {
  color: #faf3dd;
  text-decoration: none;
  font-weight: bold;
  padding-bottom: 2px;
  transition: 0.2s ease-out;
  position: relative;
  display: inline-block;
  width: 100%;
}

.nav-link:hover::after {
  position: absolute;
  left: 0;
  height: 2px;
  bottom: -2px;
  content: "";
  background: #faf3dd;
  transition: 0.18s ;
  -webkit-animation-name: navItem-hover;
  animation-name: navItem-hover;
  -webkit-animation-duration: 0.175s;
  animation-duration: 0.175s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  transition-timing-function: cubic-bezier(0.42,0.57,0.58,0.18);
}

@keyframes navItem-hover {
  from { width: 0%; }
  to { width: 100%; }
}

.name {
  display: inline-block;
  text-align: left;
  color: #faf3dd;
}

/***** HERO SECTION *****/

header {
  padding: 10% 8%;
  margin-top: 59px;
  /* background: linear-gradient(rgba(244,244,244,.85), rgba(232,244,246, .85)), url("img/puppy-background.jpg"); */
  background: linear-gradient(rgba(244,244,244,.85), rgba(225,229,242,.9)), url("img/puppy-background.jpg");
  background-position: 80% 40%;
  background-size: cover;
  background-repeat: no-repeat;
}

.headshot {
  border-radius: 50%;
  width: 135px;
  height: 135px;
  margin-bottom: 20px;
  border: 5px solid #022b3a;
  box-shadow: 1px 3px 8px #767679;
}
  
section {
  min-height: 200px;
  padding: 4em 0;
  background-color: #bbb;
}

ul {
  padding: 0px;
}

li {
  display: block;
  padding: 8px;
}

.about-content, .work-content, .contact-content {
  padding: 0px 8%;
  font-size: 16px;
}

.about-content {
  text-align: left;
}

.about-content p:first-child {
  margin-top: 0px;
} 
  
h1 {
  font-size: 1.125em;
  font-family: 'Sumana';
  margin-bottom: 50px;
}

h3 {
  color: #212121;
  font-family: 'Sumana';
  margin-bottom: 35px;
  margin-top: 0px;
}

.work-content {
  text-align: left;
}

.icon {
  width: 35px;
  display: inline-block;
  padding: 5px 15px;
  box-sizing: content-box;
  margin-top: 35px;
  cursor: pointer;
  transition: .25s;
}

.icon:hover {
  transform: translate(0px, -2.5px);
}

/***** SELECTED WORK SECTION *****/

#projects {
  background-color: #f4f4f4;
  border-top: 8px solid #002b3a;
  min-height: 100vh;
  scroll-behavior: smooth;
}

#projects h2 {
  color: #212121;
  font-family: 'Sumana';
}

.proj-desc {
  padding: 20px;
  border-bottom: 3px solid #363537;
}

.proj-desc:last-child {
  border-bottom: 0px;
}

.proj-img {
  max-width: 600px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.proj-link {
  color: #4c63af;
  transition: all .155s;
  transition-timing-function: ease-out;
}

.proj-link:hover {
  color: #344479;
}

/***** CONTACT SECTION *****/

#contact {
  border-top: 8px solid #022b3a;
  background: linear-gradient(rgba(244,244,244,.8), rgba(225,229,242,.8));
  scroll-behavior: smooth;
}

.contact-content > h2 {
  font-family: 'Sumana';
}

.mail {
  color:  #4c63af;
  font-size: 18px;
  font-weight: bold;
  transition: all .155s;
  transition-timing-function: ease-out;
}

.mail:hover {
  color: #344479;
}

/***** MEDIA QUERIES *****/

@media screen and (min-width: 768px) {

  .nav-link { 
    display: inline-block;
    width: 100%;
  }

  .nav-list {
    margin-top: 15px;
    opacity: 1;
  }

  h1 {
    font-size: 1.50em;
    max-width: 768px;
    text-align: left;
  }

  nav {
    display: flex;
    justify-content: space-between;
    padding: 0px 8%;
    max-height: 70px;
  }

  #btn-nav-toggle {
    display: none;
  }

  .nav-list {
    display: inline-block;
  }

  li {
    display: inline-block;
    padding: 6px 18px;
  }

  li:first-child, li:nth-child(2) {
    border-bottom: 0px solid transparent;
  }

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
  }

  .headshot {
    width: 175px;
    height: 175px;
    margin-bottom: 0px;
  }

  .name {
    margin: 20px 0;
    font-size: 20px;
    font-weight: 900;
  }

  .about-content, .work-content, .contact-content {
    font-size: 18px;
  }

  .work-content, .contact-content {
    margin: 0 auto;
  }

  .about-content {
    max-width: 860px;
  }   
}

@media screen and (min-width: 992px) { 
  .work-content {
    display: flex;
    flex-wrap: wrap;
  }

  .proj-img {
    max-width: 600px;
    margin: 0;
  }

  .proj-desc {
    width: 50%;
    border-right: 3px solid #363537;
    border-bottom: 3px solid #363537;
  }
  .proj-desc:nth-child(even) {
    border-right: 0px solid transparent;
  }
}

 @media screen and (min-width: 1300px) {
  h1 {
    margin-left: 0px;
  }
  .about-content {
    max-width: 900px;
  }
  .proj-desc {
    width: 33%;
  }
  .proj-desc:nth-child(even) {
    border-right: 3px solid #363537;
  }
  .proj-desc:nth-child(3) {
    border-right: 0px solid transparent;
  }
}